version: "3.9"

services:
  redis:
    image: redis
    ports: 
      - "6379:6379"
  web:
    build:
      context: .
    environment:
      FLASK_APP: make_celery:flask_app
      FLASK_DEBUG: 1
    volumes:
      - .:/code
    command: flask run -h 0.0.0.0
    ports:
      - 5000:5000
    env_file:
      - .env
    user: "${UID:-0}:${GID:-0}"
  worker:
    build: .
    command: celery -A make_celery.celery_app worker -l info
    depends_on:
      - redis
    env_file:
      - .env
    user: "${UID:-0}:${GID:-0}"
  